@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

$primary: #ff6348;
$secondary: #fff2f0;
$secondary-100: #ede7e7;
$secondary-200: #fff5f3;
$black: #191f25;
$black-100: #222222;
$black-200: #000000;
$black-300: #101c34;
$white: #ffffff;
$gray: #f8f9fb;
$gray-100: #5f5f5f;
$gray-200: #ebebeb;
$gray-300: #d9d9d9;
$gray-400: #bcbcbc;
$gray-500: #868686;
$gray-600: #E6E6E6;
$gray-700: #FAFBF4;
$gray-800: #D7D7D7;
$light-gray: #A0A0A0;
$light-gray-100: #E1E1E1;
$light-gray-200: #747474;

$theme-colors: (
  "primary": $primary,
);

@import "../bootstrap/scss/bootstrap";

body {
  font-family: "DM Sans", sans-serif;
  @media screen and (max-width: 767px) {
    font-size: 14px;
  }
  background-color: $white;
}

@media screen and (min-width: 1600px) {
  .container {
    max-width: 1520px;
    margin: 0 auto;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}
p {
  margin-bottom: 0;
  font-size: 20px;
  line-height: 1.5;
  color: $gray-100;
  @media screen and (max-width: 767px) {
    font-size: 16px;
    line-height: 26px;
  }
}

h1 {
  font-size: 100px;
  line-height: 124px;
  font-weight: 900;
  text-transform: capitalize;
  color: $black-300;
  @media screen and (max-width: 1299px) {
    font-size: 86px;
    line-height: 106px;
  }
  @media screen and (max-width: 1024px) {
    font-size: 60px;
    line-height: 80px;
  }
  @media screen and (max-width: 991px) {
    font-size: 45px;
    line-height: 65px;
  }
  @media screen and (max-width: 767px){
    font-size: 5vw;
    line-height: 7vw;
  }
  @media screen and (max-width: 575px){
    font-size: 32px;
    line-height: 46px;
  }
  span {
    color: $primary;
  }
}

h2 {
  font-size: 40px;
  line-height: 56px;
  font-weight: 700;
  text-transform: capitalize;
  color: $black-300;
  @media screen and (max-width: 991px) {
    font-size: 36px;
  }
  @media screen and (max-width: 767px) {
    font-size: 32px;
    line-height: 46px;
  }
  @media screen and (max-width: 425px) {
    font-size: 28px;
    line-height: 40px;
  }
  span {
    color: $primary;
  }
}
h3 {
  font-size: 30px;
  line-height: 48px;
  font-weight: 700;
  text-transform: capitalize;
  color: $black-300;
  @media screen and (max-width: 991px) {
    font-size: 26px;
  }
  @media screen and (max-width: 767px) {
    font-size: 22px;
    line-height: 36px;
  }
  span {
    color: $primary;
  }
}
h4 {
  font-size: 24px;
  line-height: 1.5;
  font-weight: 600;
  text-transform: capitalize;
  color: $black-300;
  @media screen and (max-width: 767px) {
    font-size: 20px;
  }
  span {
    color: $primary;
  }
}

.section {
  padding: 75px 0;
  @media screen and (max-width: 991px) {
    padding: 50px 0;
  }
  @media screen and (max-width: 767px) {
    padding: 40px 0;
  }
}

.pt-100 {
  padding-top: 100px;
  @media screen and (max-width: 991px) {
    padding-top: 75px;
  }
  @media screen and (max-width: 767px) {
    padding-top: 40px;
  }
}
.pb-100 {
  padding-bottom: 100px;
  @media screen and (max-width: 991px) {
    padding-bottom: 75px;
  }
  @media screen and (max-width: 767px) {
    padding-bottom: 40px;
  }
}
.pt-150 {
  padding-top: 150px;
  @media screen and (max-width: 991px) {
    padding-top: 75px;
  }
  @media screen and (max-width: 767px) {
    padding-top: 40px;
  }
}
.pb-150 {
  padding-bottom: 150px;
  @media screen and (max-width: 991px) {
    padding-bottom: 75px;
  }
  @media screen and (max-width: 767px) {
    padding-bottom: 40px;
  }
}

.mt-20 {
  margin-top: 20px;
}

// Button{
.btn {
  padding: 9px 20px;
  &.btn-primary {
    border-radius: 24px;
    border-color: $black;
    background-color: $secondary;
    color: $black;
    display: inline-flex;
    align-items: center;
    font-weight: 500;
    justify-content: center;
    .fa-arrow-right {
      margin-left: 12px;
      transform: rotate(-45deg);
      transition: transform 0.15s ease-in-out;
    }
    &:hover {
      border-color: $primary;
      background-color: $primary;
      color: $white;
      .fa-arrow-right {
        transform: rotate(0deg);
      }
    }
  }
  &.btn-secondary {
    border-radius: 24px;
    background-color: $white;
    color: $black-100;
    display: inline-flex;
    align-items: center;
    font-weight: 500;
    justify-content: center;
    .fa-arrow-right {
      margin-left: 12px;
      transform: rotate(-45deg);
      transition: transform 0.15s ease-in-out;
    }
    &:hover {
      color: $primary;
      border-color: $primary;
      .fa-arrow-right {
        transform: rotate(0deg);
      }
    }
  }
}

// Header Styles
header {
  height: 104px;
  transition: all 0.3s ease-in-out;
  @media screen and (max-width: 991px) {
    height: 65px;
  }
}
.header-wrapper {
  position: relative;
  z-index: 999;
  @media screen and (max-width: 991px) {
    padding: 15px 0;
  }
  &.fixed-header {
    background-color: $white;
    box-shadow: 0px 15px 10px -15px $gray-300;
  }
  .navbar {
    padding: 0;
    position: static;
    .navbar-brand {
      margin-right: 30px;
    }
    .logo-tagline {
      &:before {
        content: "/";
        margin-right: 20px;
      }
    }
    .navbar-collapse {
      @media screen and (max-width: 991px) {
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0;
        border-radius: 0 0 8px 8px;
        padding: 20px;
        background-color: $white;
        box-shadow: 0px 15px 10px -15px $gray-400; 
      }
    }
    .navbar-nav {
      gap: 40px;
      margin-right: 40px;
      @media screen and (max-width: 1199px) {
        gap: 20px;
      }
      @media screen and (max-width: 991px) {
        gap: 0px;
      }
      @media screen and (max-width: 767px) {
        margin-right: 0;
      }
      .nav-item {
        position: relative;
        .nav-link {
          padding: 40px 0;
          position: relative;
          font-size: 15px;
          color: $black-100;
          line-height: 1.6;
          text-transform: capitalize;
          @media screen and (max-width: 991px) {
            display: inline-block;
            padding: 10px 0;
          }
          &:hover,
          &.active {
            color: $primary;
          }
        }
        &.dropdown-mega-menu {
          position: static;
        }
        .dropdown-menu {
          position: absolute;
          left: 0;
          right: 0;
          display: none;
          box-shadow: 0px 18px 35.6px 0px #00000014;
          border: 1px solid $secondary-100;
          border-radius: 0;
          padding: 0;
          min-width: 15rem;
          ul {
            padding: 20px 0;
            li {
              a {
                color: $black-200;
                padding: 10px 30px;
                display: block;
                text-decoration: none;
                &:hover {
                  color: $primary;
                }
              }
            }
          }
          &.mega-menu {
            .outside {
              padding: 44px 0;
              @media screen and (max-width:767px) {
                flex-direction: column;
                padding: 20px 0;
              }
              .nav{
                padding-right: 30px;
                @media screen and (max-width: 1199px) {
                  padding-right: 20px;
                }
                @media screen and (max-width:767px) {
                  padding-right: 0px;
                  flex-direction: row !important;
                  flex-wrap: nowrap;
                  width: 100%;
                  overflow-x: auto;
                }
              }
            }
            .nav-link {
              padding: 27px 24px;
              border: 1px solid $gray-200;
              border-radius: 8px;
              margin-bottom: 20px;
              font-size: 14px;
              display: flex;
              align-items: center;
              width: 228px;
              justify-content: space-between;
              @media screen and (max-width:767px) {
                width: auto;
                margin-bottom: 0;
                margin-right: 16px;
                padding: 8px 14px;
                white-space: nowrap;
                img{
                  display: none;
                }
              }
              &.active{
                background-color: $secondary-200;
                color: $gray-100;
                font-weight: 700;
              }
              &:last-child {
                margin-bottom: 0;
                margin-right: 0;
              }
            }
            .mega-menu-heading {
              background-color: $gray;
              padding: 20px 16px;
              text-align: center;
              @media screen and (max-width: 991px) {
              padding: 8px 16px;
              }
            }
            .tab-content {
              border-left: 1px solid $gray-300;
              padding: 0 40px;
              @media screen and (max-width: 1199px) {
                padding: 0 0 0 20px;
              }
              @media screen and (max-width: 767px) {
                padding: 0;
                margin-top: 20px;
                border-left: 0;
              }
              .mega-head{
                padding-bottom: 12px;
                border-bottom: 1px solid $gray-300;
              }
              .mega-body {
                padding: 30px 0;
                @media screen and (max-width: 991px) {
                  padding: 0;
                }
                .row{
                  [class*="col-"]{
                    &:nth-child(2),
                    &:first-child {
                      margin-bottom: 48px;
                      @media screen and (max-width: 1199px) {
                        margin-bottom: 24px;
                      }
                    }
                  }
                }
                .menu-card {
                  display: flex;
                  .icon-out {
                    background-color: $gray;
                    border: 1px solid $gray-300;
                    border-radius: 100%;
                    height: 40px;
                    width: 40px;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    flex: none;
                    margin-right: 20px;
                    @media screen and (max-width: 1199px) {
                      margin-right: 12px;
                    }
                  }
                  h6 {
                    color: $black;
                    font-size: 16px;
                    line-height: 26px;
                    margin-bottom: 4px;
                    @media screen and (max-width: 767px) {
                      margin-bottom: 0;
                    }
                  }
                  p {
                    color: $gray-100;
                    font-size: 14px;
                    line-height: 24px;
                    max-width: 75%;
                    @media screen and (max-width:767px) {
                      max-width: 100%;
                    }
                  }
                }
              }
            }
          }
        }
        &:hover {
          .dropdown-menu {
            display: block;
          }
        }
      }
    }
    .navbar-toggler {
      margin-left: auto;
      padding: 0;
      border: 0;
      &:focus {
        box-shadow: none;
      }
      &:hover {
        svg {
          path {
            stroke: $primary;
          }
        }
      }
    }
    .menu-icon-list {
      margin-left: 35px;
      display: flex;
      align-items: center;
      @media screen and (max-width: 991px) {
        margin-left: 15px;
      }
      gap: 15px;
      svg {
        path {
          transition: all 0.2s ease-in-out;
        }
        &:hover {
          path {
            fill: $primary;
          }
        }
      }
    }
  }
}

// HERO SECTION
.hero-section {
  padding: 180px 0 50px;
  position: relative;
  @media screen and (max-width: 1299px) {
    padding: 80px 0 50px;
  }
  @media screen and (max-width: 425px) {
    padding: 80px 0 0px;
  }
  .round-orange {
    height: 328px;
    width: 328px;
    border-radius: 100%;
    background-color: $secondary;
    position: absolute;
    top: 5%;
    right: 17.5%;
    z-index: -1;
    @media screen and (max-width: 1299px) {
      height: 200px;
      width: 200px;
      top: -1%;
      right: 15%;
    }
    @media screen and (max-width: 1024px) {
      right: 11.5%;
    }
    @media screen and (max-width: 767px) {
      height: 150px;
      width: 150px;
      top: 3%;
    }
  }
  h1 {
    position: relative;
    z-index: 2;
    margin: 0 auto;
  }
  p {
    max-width: 655px;
    margin: 16px auto 20px;
    color: $gray-100;
  }
  .star-outline {
    position: absolute;
    top: 27%;
    left: 15%;
    @media screen and (max-width: 1399px) {
      left: 5%;
    }
    @media screen and (max-width: 1199px) {
      top: 35%;
    }
    @media screen and (max-width: 991px) {
      top: 50%;
      height: 40px;
    }
    @media screen and (max-width: 767px) {
      top: 19%;
      height: 40px;
      left: 12px;
    }
    @media screen and (max-width: 767px) {
      top: 51%;
    }
  }
  .img-wrapper {
    margin-top: 40px;
    overflow: hidden;
    // img{
    //   max-height: 456px;
    // }
    .img1{
      padding-right: 12px;
      width: 32.5%;
      @media screen and (max-width: 991px) {
        max-width: 300px;
        width: 100%;
        margin: 0 auto 14px;
        padding-right: 0;
      }
      @media screen and (max-width: 575px) {
        max-width: 60%;
      }
    }
    .img2 {
      width: 65%;
      @media screen and (max-width: 991px) {
        width: auto;
      }
    }
  }
}

.rotate {
  animation: rotate 10s linear infinite;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.form-group {
  input {
    width: 100%;
    padding: 8px 8px 8px 24px;
    border-radius: 75px;
    border: 1px solid $gray-600;
    line-height: 1.63;
  }
  &.input-btn {
    position: relative;
    input {
      line-height: 2.3754;
    }
    .btn-primary {
      position: absolute;
      right: 8px;
      top: 50%;
      transform: translateY(-50%);
      padding: 7px 25px;
    }
  }
}

// company slider
.company-slider {
  margin-left: 8%;
  margin-right: 8%;
  position: relative;
  &::before {
    position: absolute;
    content: "";
    width: 250px;
    top: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(90.05deg, $white 1.13%, transparent 101.26%);
    z-index: 2;
    @media screen and (max-width: 767px) {
      width: 80px;
    }
    @media screen and (max-width: 425px) {
      width: 20px;
    }
  }
  &::after {
    position: absolute;
    content: "";
    width: 250px;
    top: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(90.05deg, transparent 1.13%, $white 101.26%);
    z-index: 2;
    @media screen and (max-width: 767px) {
      width: 80px;
    }
    @media screen and (max-width: 425px) {
      width: 20px;
    }
  }
  .slick-slide {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 57px;
    img {
      width: auto;
      max-width: 70%;
      max-height: 57px;
      height: auto;
      display: inline-block;
    }
  }
}

// capture-solution
.capture-solution {
  .head-wrapper {
    p {
      max-width: 1262px;
      margin: 8px auto 40px;
    }
  }
  .tab-content {
    margin-top: 80px;
    position: relative;
    @media screen and (max-width: 767px) {
      margin-top: 40px;
    }
    .star-filled {
      position: absolute;
      top: 10px;
      left: 42%;
      @media screen and (max-width: 1199px) {
        top: -70px;
      }
      @media screen and (max-width: 991px) {
        top: -20px;
        left: 85%;
      }
      @media screen and (max-width: 575px) {
        top: -35px;
        width: 28px;
        left: 90%;
      }
    }
    .ai-ml-content {
      p {
        max-width: 659px;
      }
    }
  }
}
.rounded-tabs {
  .nav-item {
    .nav-link {
      border-radius: 32px;
      border: 1px solid $gray-800;
      color: $gray-500;
      white-space: nowrap;
      height: 50px;
      &.active{
        border-color: $primary;
        color: $white;
      }
    }
    & + .nav-item {
      margin-left: 20px;
    }
  }
}

.challenges-section {
  padding: 100px 0;
  background-color: $gray-700;
  position: relative;
  @media screen and (max-width: 1199px) {
    padding: 70px 0;
  }
  @media screen and (max-width: 991px) {
    padding: 50px 0;
  }
  @media screen and (max-width: 767px) {
    padding: 30px 0;
  }
  .ring1 {
    position: absolute;
    bottom: 30%;
    left: 8%;
    max-width: 82px;
    @media screen and (max-width: 1699px) {
      left: 2%;
    }
    @media screen and (max-width: 1399px) {
      max-width: 50px;
    }
  }
  .star {
    position: absolute;
    bottom: 10%;
    right: 8%;
    @media screen and (max-width: 1699px) {
      right: 2%;
    }
  }
  .challenges-wrapper {
    background-color: $white;
    border-radius: 30px;
    padding: 100px 60px;
    margin: 0 79px;
    text-align: center;
    position: relative;
    @media screen and (max-width: 1699px) {
      margin: 0 80px;
    }
    @media screen and (max-width: 1399px) {
      margin: 0;
      padding: 40px 30px;
    }
    @media screen and (max-width: 767px) {
      padding: 30px 20px;
    }
    @media screen and (max-width: 575px) {
      padding: 20px 12px;
    }
    .ring2 {
      position: absolute;
      top: 77px;
      right: 66px;
      max-width: 64px;
      @media screen and (max-width: 991px) {
        top: 15px;
        width: 40px;
      }
      @media screen and (max-width: 475px) {
        right: 3%;
      }
    }
    h2 {
      margin-bottom: 8px;
    }
    .challenge-box-main {
      margin-top: 40px;
      .challenge-box {
        border: 1px solid $gray-500;
        border-radius: 8px;
        padding: 65px 30px 30px;
        height: 100%;
        transition: all 0.3s ease-in-out;
        &:hover {
          transform: translateY(-10px);
        }
        @media screen and (max-width: 575px) {
          padding: 24px;
        }
        img {
          height: 99px;
        }
        h6 {
          font-size: 20px;
          line-height: 1.5;
          font-weight: 900;
          color: $black-300;
        }
        p {
          color: $gray-100;
        }
      }
    }
    .challange-btn {
      margin-top: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 12px 20px;
      flex-wrap: wrap;
    }
  }
}
// customer stories
.customer-stories {
  .top {
    position: absolute;
    height: 34px;
    top: 150px;
    left: 25%;
    @media screen and (max-width: 991px) {
    top: 190px;
    left: 15%;
    }
  }
  .right {
    position: absolute;
    height: 64px;
    right: 25%;
    @media screen and (max-width: 991px) {
      height: 45px;
    }
    @media screen and (max-width: 375px) {
      right: 12px;
    }
  }
  .left {
    position: absolute;
    height: 34px;
    bottom: 35%;
    left: 5%;
  }
  .customer-card {
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0px 0px 46.8px 0px #00000014;
    background-color: $white;
    @media screen and (max-width: 575px) {
      padding: 16px;
    }
    .desc{
      text-align: start;
      font-size: 16px;
      margin-top: 24px;
    }
  }
  .inner {
    background-image: url(/assets/images/bg-grediant.png);
  background-size: cover;
  background-position: bottom bottom;
  background-repeat: no-repeat;
  .inner-row{
    transform: translateY(100px);
    @media screen and (max-width:991px) {
      transform: translateY(50px);
    }
    @media screen and (max-width:767px) {
      transform: translateY(0px);
    }
  }
  }
}

.testimonial-user {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  img {
    border-radius: 100%;
    width: 60px !important;
    height: 60px;
    object-fit: cover;
  }
  .testimonial-user-info {
    margin-left: 10px;
    text-align: start;
    h6 {
      font-size: 16px;
      color: $black-300;
      font-weight: 600;
    }
    p {
      color: $gray-100;
      font-size: 14px;
    }
  }
  .testimonial-desc {
    p {
      margin-bottom: 0;
      color: $gray;
      font-size: 16px;
    }
  }
}

.grediant-text {
  background: -webkit-linear-gradient(312deg, #f98600 45%, #8a2158 91%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  @media screen and (max-width: 575px) {
    font-size: 45px;
  }
}

.logo-slider {
  background-color: $primary;
  position: absolute;
  left: -50px;
  right: -50px;
  top: 48px;
  transform: rotate(348deg);
  width: 100%;
  max-width: 1120px;
  padding: 12px 0;
  @media screen and (max-width: 1599px) {
    transform: rotate(340deg);
    left: -307px;
    top: 100px;
  }
  @media screen and (max-width: 1199px) {
    transform: rotate(333deg);
    left: -257px;
    top: 40px;
  }
  @media screen and (max-width: 575px) {
    left: -107px;
    top: 0px;
  }
  h4{
    color: $white;
    margin-bottom: 0;
    @media screen and (max-width: 991px) {
      font-size: 20px;
    }
    @media screen and (max-width: 768px) {
      font-size: 16px;
    }
  }
}

// benifites section
.benifits-section {
  max-width: 1300px;
  margin: 0 auto;
  width: 100%;
  .benifits-card {
    max-width: 85%;
    @media screen and (max-width:991px) {
      max-width: 100%;
    }
    .mw-400{
      max-width: 400px;
    }
    h2 {
      margin-bottom: 12px;
    }
    p {
      margin-bottom: 80px;
      @media screen and (max-width:991px) {
        margin-bottom: 40px; 
      }
    }
  }
}

// journey section
.journey-section {
  padding: 40px 12% 0 7%;
  background-color: $secondary;
  border-radius: 30px;
  display: flex;
  align-items: center;
  @media screen and (max-width: 991px) {
    padding: 40px 7% 40px 7%;
  }
  @media screen and (max-width: 575px) {
    padding: 20px;
    border-radius: 12px;
  }
  h2{
    max-width: 560px;
    text-transform: math-auto;
  }
  .btn-secondary.outline{
    border-color: $black;
    &:hover{
      border-color: $primary;
    }
  }
  img{
    @media screen and (max-width: 991px) {
      display: none;
    }
  }
}

footer {
  .upper-footer {
    .logo {
      margin-bottom: 40px;
      @media screen and (max-width:575px) {
        margin-bottom: 25px;
      }
    }
    h2 {
      color: $primary;
      font-weight: 900;
      font-size: 60px;
      line-height: 1.333;
      margin-bottom: 16px;
      position: relative;
      @media screen and (max-width:767px) {
        font-size: 40px;
      }
      @media screen and (max-width:575px) {
        font-size: 30px;
      }
      .circle{
        position: absolute;
        right: 24px;
        top: 0;
        @media screen and (max-width: 1440px){
          right: 0;
        }
        @media screen and (max-width: 1299px){
          right: -56px;
        }
        @media screen and (max-width: 991px){
          right: 0;
        }
        @media screen and (max-width: 575px){
          width: 36px;
        }
      }
    }
    .desc {
      margin-bottom: 40px;
      color: $gray-100;
      & ~ span {
        display: block;
        margin-bottom: 16px;
        font-weight: 600;
        color: $black-300;
      }
    }
    .single-list {
      margin-bottom: 40px;
      &:last-child {
        margin-bottom: 0;
      }
      h6 {
        font-weight: 600;
        font-size: 20px;
        color:$black-300;
        @media screen and (max-width: 374px) {
          font-size: 17px;
        }
      }
      li {
        color: $gray-100;
        font-size: 16px;
        line-height: 40px;
        cursor: pointer;
        @media screen and (max-width: 575px) {
          line-height: 34px;
        }
      }
    }
    .footer-social {
      display: flex;
      margin-bottom: 30px;
      li {
        margin-right: 10px;
        a {
          background-color: $light-gray;
          border-radius: 100%;
          width: 30px;
          height: 30px;
          color: $white;
          display: block;
          text-align: center;
          line-height: 30px;
          &:hover {
            background-color: $primary;
          }
        }
      }
    }
  }
  .lower-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0 30px;
    border-top: 1px solid $gray-300;
    color: $gray-100;
    flex-wrap: wrap;
    margin-top: 60px;
    gap: 12px;
    @media screen and (max-width: 575px) {
      margin-top: 0;
      justify-content: center;
      padding: 16px 0;
    }
     & > div{
      gap: 10px 30px;
    }
    a {
      color: $gray-100;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    p {
      font-size: 16px;
    }
  }
}

.banner-section{
  padding-top: 75px;
  .content-wrapper {
    position: relative;
    text-align: center;
    h1 {
      margin-bottom: 16px;
      font-size: 60px;
      line-height: 1.4;
      font-weight: 900;
      @media screen and (max-width: 991px) {
        font-size: 50px;
      }
      @media screen and (max-width: 767px) {
        font-size: 42px;
        margin-bottom: 10px;
      }
      @media screen and (max-width: 575px) {
        font-size: 34px;
      }
      @media screen and (max-width: 475px) {
        font-size: 30px;
      }
    }
    p {
      margin: 0 auto 30px;
      @media screen and (max-width: 767px) {
        margin: 0 auto 20px;
      }
    }
  }
}

// Career Style
.career-banner {
  .star {
    position: absolute;
    top: 55%;
    left: 10%;
    @media screen and (max-width: 1399px) {
      left: 3%;
    }
    @media screen and (max-width: 1199px) {
      top: 83%;
      left: 80px;
      max-width: 60px;
    }
    @media screen and (max-width: 767px) {
      top: 80%;
      left: 30px;
      max-width: 50px;
    }
    @media screen and (max-width: 425px) {
      display: none;
    }
  }
  .ring {
    position: absolute;
    top: 30%;
    right: 8%;
    @media screen and (max-width: 1399px) {
      max-width: 60px;
      right: 1%;
    }
    @media screen and (max-width: 767px) {
      max-width: 40px;
      right: 0%;
      top: -40px;
    }
  }
  p {
    max-width: 889px;
  }
}


// About Style
.about-banner {
  position: relative;
  .ring1 {
    position: absolute;
    bottom: 22%;
    left: 30%;
    width: 53px;
  }
  .logo-icon {
    border: 1px solid $light-gray-100;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    padding: 10px;
    margin: 0 auto 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.about-intro-section {
  padding-top: 30px;
  .intro-title {
    img {
      float: left;
      width: 87px;
      margin-top: 20px;
    }
    h3 {
      font-size: 100px;
      line-height: 1.2;
      font-weight: normal;
      span {
        color: $black-300;
        margin: 0 30px;
      }
    }
  }
}

.cd-words-wrapper {
	display: inline-block;
	position: relative;
	text-align: left;
	b {
		position: absolute;
		left: 50%;  
    transform: translateX(-50%);
		top: 0;
    display: block;
    width: 100%;
		&.is-visible {
			position: relative;
		}
	}
}
.no-js {
	.cd-words-wrapper {
		b {
			opacity: 0;
			&.is-visible {
				opacity: 1;
			}
		}
	}
}
.cd-headline {
	&.slide {
		span {
			display: block;
			padding: .2em 0;
			letter-spacing: 1px;
		}
		.cd-words-wrapper {
			overflow: hidden;
			vertical-align: top;
		}
		b {
			opacity: 0;
			top: .2em;
			&.is-visible {
				top: 0;
				opacity: 1;
				-webkit-animation: slide-in 0.6s;
				-moz-animation: slide-in 0.6s;
				animation: slide-in 0.6s;
			}
			&.is-hidden {
				-webkit-animation: slide-out 0.6s;
				-moz-animation: slide-out 0.6s;
				animation: slide-out 0.6s;
			}
		}
	}
}


@-webkit-keyframes slide-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%) translateX(-50%);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(20%) translateX(-50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0) translateX(-50%);
  }
}

@-moz-keyframes slide-in {
  0% {
    opacity: 0;
    -moz-transform: translateY(-100%) translateX(-50%);
  }
  60% {
    opacity: 1;
    -moz-transform: translateY(20%) translateX(-50%);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0) translateX(-50%);
  }
}

@keyframes slide-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%) translateX(-50%);
    -moz-transform: translateY(-100%) translateX(-50%);
    -ms-transform: translateY(-100%) translateX(-50%);
    -o-transform: translateY(-100%) translateX(-50%);
    transform: translateY(-100%) translateX(-50%);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(20%) translateX(-50%);
    -moz-transform: translateY(20%) translateX(-50%);
    -ms-transform: translateY(20%) translateX(-50%);
    -o-transform: translateY(20%) translateX(-50%);
    transform: translateY(20%) translateX(-50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0) translateX(-50%);
    -moz-transform: translateY(0) translateX(-50%);
    -ms-transform: translateY(0) translateX(-50%);
    -o-transform: translateY(0) translateX(-50%);
    transform: translateY(0) translateX(-50%);
  }
}

@-webkit-keyframes slide-out {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0) translateX(-50%);
  }
  60% {
    opacity: 0;
    -webkit-transform: translateY(120%) translateX(-50%);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(100%) translateX(-50%);
  }
}

@-moz-keyframes slide-out {
  0% {
    opacity: 1;
    -moz-transform: translateY(0) translateX(-50%);
  }
  60% {
    opacity: 0;
    -moz-transform: translateY(120%) translateX(-50%);
  }
  100% {
    opacity: 0;
    -moz-transform: translateY(100%) translateX(-50%);
  }
}

@keyframes slide-out {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0) translateX(-50%);
    -moz-transform: translateY(0) translateX(-50%);
    -ms-transform: translateY(0) translateX(-50%);
    -o-transform: translateY(0) translateX(-50%);
    transform: translateY(0) translateX(-50%);
  }
  60% {
    opacity: 0;
    -webkit-transform: translateY(120%) translateX(-50%);
    -moz-transform: translateY(120%) translateX(-50%);
    -ms-transform: translateY(120%) translateX(-50%);
    -o-transform: translateY(120%) translateX(-50%);
    transform: translateY(120%) translateX(-50%);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(100%) translateX(-50%);
    -moz-transform: translateY(100%) translateX(-50%);
    -ms-transform: translateY(100%) translateX(-50%);
    -o-transform: translateY(100%) translateX(-50%);
    transform: translateY(100%) translateX(-50%);
  }
}




// Slide Section Style
.caree-slider {
  border-top: 1px solid $gray-300;
  border-bottom: 1px solid $gray-300;
  .content {
    padding: 50px 0;
    p {
      font-size: 30px;
      line-height: 1.67;
      margin-bottom: 40px;
      color: $black-300;
      @media screen and (max-width: 1199px) {
        font-size: 24px;
      }
      @media screen and (max-width: 991px) {
        font-size: 20px;
      }
      @media screen and (max-width: 767px) {
        font-size: 18px;
      }
      &:last-child {
        margin-bottom: 0;
        color: $light-gray-200;
      }
    }
  }
  .auto-slide {
    width: 16.67%;
    height: 100%;
    max-width: 100px;
    border-left: 1px solid $gray-300;
    display: flex;
    align-items: center;
    @media screen and (max-width: 991px) {
      max-width: unset;
    }
    &:last-of-type {
      border-right: 1px solid $gray-300;
    }
    &:nth-child(even) {
      img {
        margin: 80px auto 0;
      }
    }
    img {
      margin: 0 auto 80px;
      max-width: 40px;
    }
    .reverse .slick-track {
      flex-direction: column-reverse;
    }
  }
  .sliders-wrapper {
    display: flex;
    justify-content: end;
    height: 100%;
    align-items: center;
  }
}

// Benefit style
.benifit-section {
  h2 {
    margin-bottom: 8px;
  }
  p {
    margin-bottom: 60px;
    @media screen and (max-width: 1199px) {
      margin-bottom: 40px;
    }
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }
  .benefit-box {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    @media screen and (max-width: 475px) {
      gap: 24px;
    }
    .box {
      width: calc(25% - 22.5px);
      border-radius: 8px;
      padding: 40px 30px;
      text-align: center;
      @media screen and (max-width: 1199px) {
        width: calc(33.33% - 20px);
      }
      @media screen and (max-width: 991px) {
        padding: 30px 14px;
      }
      @media screen and (max-width: 767px) {
        width: calc(50% - 15px);
      }
      @media screen and (max-width: 425px) {
        width: 100%;
      }
      img {
        margin: 0 auto;
      }
      p {
        margin-bottom: 0;
        font-size: 18px;
        line-height: 1.55;
        color: $black-300;
        margin-top: 26px;
        @media screen and (max-width: 991px) {
          font-size: 16px;
          margin-top: 20px;
        }
        @media screen and (max-width: 767px) {
          margin-top: 12px;
        }
      }
      &:nth-child(1),
      &:nth-child(8) {
        background-color: #fffaf1;
      }
      &:nth-child(2),
      &:nth-child(7) {
        background-color: #f2f9ff;
      }
      &:nth-child(3),
      &:nth-child(6) {
        background-color: #fafaff;
      }
      &:nth-child(4),
      &:nth-child(5) {
        background-color: #fff6f4;
      }
    }
  }
}

// Current Openings style
.current-opening-section {
  background-color: $gray-700;
  .head {
    p {
      margin-bottom: 60px;
      @media screen and (max-width: 1199px) {
        margin-bottom: 40px;
      }
      @media screen and (max-width: 767px) {
        margin-bottom: 30px;
      }
    }
  }
  .opening-list {
    .single-list {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: $white;
      padding: 40px;
      border-radius: 8px;
      margin-bottom: 30px;
      flex-wrap: wrap;
      gap: 20px;
      &:last-of-type {
        margin-bottom: 0;
      }
      @media screen and (max-width: 767px) {
        padding: 30px;
      }
      @media screen and (max-width: 575px) {
        padding: 20px;
      }
      h6 {
        font-weight: 900;
        font-size: 20px;
        line-height: 1.5;
        color: $black-300;
        margin-bottom: 16px;
        text-transform: capitalize;
        @media screen and (max-width: 575px) {
          margin-bottom: 12px;
          font-size: 18px;
        }
      }
      .desc {
        display: flex;
        align-items: center;
        p {
          color: $gray-100;
          padding-right: 30px;
          line-height: 0.75;
          &:last-of-type {
            padding-left: 30px;
            padding-right: 0;
            border-left: 1px solid $gray-100;
          }
          @media screen and (max-width: 767px) {
            padding-right: 15px;
            font-size: 14px;
            &:last-of-type {
              padding-left: 15px;
            }
          }
          @media screen and (max-width: 575px) {
            padding-right: 10px;
            &:last-of-type {
              padding-left: 10px;
            }
          }
        }
      }
    }
  }
}

// Life section style
.life-section {
  .head {
    h2 {
      margin-bottom: 8px;
    }
    p {
      margin-bottom: 30px;
    }
    .btn-primary {
      margin-bottom: 60px;
      @media screen and (max-width: 1199px) {
        margin-bottom: 40px;
      }
      @media screen and (max-width: 767px) {
        margin-bottom: 30px;
      }
    }
  }
  .parent-container {
    height: 34vw;
    position: relative;
    a {
      position: absolute;
      &.image1 {
        top: 87px;
        img {
          width: 19.149vw;
        }
      }
      &.image2 {
        bottom: 2.5vw;
        left: 8.4vw;
        img {
          width: 10.64vw;
        }
      }
      &.image3 {
        top: 0;
        left: 17.6vw;
        img {
          width: 13.192vw;
        }
      }
      &.image4 {
        top: 10.9vw;
        left: 20.5vw;
        img {
          width: 9.203vw;
        }
      }
      &.image5 {
        bottom: 0px;
        left: 21.6vw;
        img {
          width: 15.4vw;
        }
      }
      &.image6 {
        top: 0px;
        left: 32vw;
        img {
          width: 34vw;
        }
      }
      &.image7 {
        bottom: 0px;
        left: 38.6vw;
        img {
          width: 26vw;
        }
      }
      &.image8 {
        bottom: 5.4vw;
        left: 58.9vw;
        img {
          width: 19vw;
        }
      }
      &.image9 {
        top: 3.3vw;
        left: 67.2vw;
        img {
          width: 9vw;
        }
      }
    }
  }
}

.high-five-section{
  .journey-section{
    background-color: $white;
    border: 1px solid  #E2E2E2;
    p{
      max-width: 90%;
    }
  }
}